.ant-layout-header {
  height: 90px;
}

.toolbar-item {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
}

.toolbar-text {
  font-size: 12px;
}

.toolbar-btn {
  height: 65px;
  width: 65px;
}

.toolbar-btn.active{
  border-color: orange;
  color: orange;
}

.toolbar-icon {
  font-size: 20px;
}

.toolbar-icon:hover {
  cursor: pointer;
  color: #40a9ff;
}

.toolbar-icon-down {
  font-size: 15px;
  margin-left: 5px;
}

.toolbar-content-draw {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px 20px;
}
.toolbar-content-stamp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 20px;
}
.toolbar-content-spot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 20px;
}
.toolbar-content-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px 10px;
}

.toolbar-content-clear {
  font-size: 12px;
}

.toolbar-content-clear-item:hover {
  cursor: pointer;
  color: #40a9ff;
}

.toolbar-content-save {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.toolbar-content-save-selected {
  display: flex;
  align-items: center;
}

input[type="file"] {
  display: none;
}

#file-view {
  color: #40a9ff;
}

#file-view:hover {
  cursor: pointer;
  text-decoration: underline;
}

.toolbar-icon-save {
  color: #40a9ff;
}

.toolbar-content-save-text {
  margin: 0 15px 0 5px;
}

.toolbar-icon-down:hover {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #d4eafc;
}

.toolbar-icon-down-box {
  font-size: 12px;
}

.toolbar-icon-down-box-heading {
  color: #40a9ff;
  font-weight: 400;
}

.toolbar-icon-down-box-item {
  font-weight: 300;
  margin-bottom: 0;
  padding: 2px;
}

.toolbar-icon-down-box-item:hover {
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #d4eafc;
  outline: none;
}

.ant-popover-inner-save {
  margin-top: 20px;
}

#toolbar-btn-spotlight {
  width: 75px;
}
